@media(min-width:0){}  
@media(min-width:260px){
/* MESSAGE */
#message{position:absolute;height:100vh;width:100vw;top:0;left:0;z-index:2000;display:flex;justify-content:center;align-items:center;background-color:transparent}
#message-form{padding:1rem;text-align:center;background-color:#fff} 
#message-btn{margin:1rem;width:50px;height:50px;border:none;border-radius:100%;color:#fff;background-color:#3399ff} 
/*********COVER*260*******/
#cover{height:100vh;background:linear-gradient(to bottom,#0066ff,#3399ff)}
#cover-container{height:100vh;display:flex;flex-direction:column;background-color:#333}
#cover-box-image{flex-basis:50%;display:flex;align-content:center;justify-content:center;align-items:center;background-color:silver}
#cover-foto{border-radius:50%;width:200px;opacity:.5}
#cover-box-info{flex-basis:50%;display:flex;flex-direction:column;justify-content:flex-start;align-content:center;align-items:center;height:100%;background-color:gray}
#cover-text{font-family:monospace, sans-serif;z-index:100;font-size:2rem;font-weight:bolder;color:#fff}
#cover-btn{text-decoration:none;padding:1rem;font-family:monospace, sans-serif;z-index:100;border:6px solid#fff;font-weight:bolder;font-size:1.8rem;color:#fff}
/*********PORTFOLIO*260*******/  
#portfolio{height:100vh;font-family:monospace,sans-serif;line-height:1;background-color:#2c8cff}
#portfolio-title{padding:4rem 0 2rem;text-align:center;font-size:2rem;color:#fff}
#portfolio-container{height:80%;display:flex;flex-wrap:wrap;justify-content:center;align-items:baseline}
.portfolio-box{flex-basis:49%; text-align:center;border: 1px solid rgba(0, 0, 0, 0.1);color:#333;background-color:#f6f6f6}
.portfolio-head{padding:0.2rem 0;font-size:0.9rem}
.portfolio-icon{padding:0.2rem;font-size:2rem;color:#2c8cff;background-color:#fff}
.portfolio-text{min-height:95px;padding:0 0.2rem;margin:0;font-size:0.8rem;text-align:left;background-color:#fff}
.portfolio-btn{display:block;padding:0.3rem;text-decoration:none;font-size:1rem;color:#2c8cff}
.portfolio-btn:hover{text-decoration:none;color:#6baeff}
/*********SKILL*260*******/ 
#skill{height:100vh;background-color:#fff} 
#skill-title{padding:4rem 0 2rem;text-align:center;font-size:2rem;color:#2c8cff}
#skill-container{height:80%;display:flex;flex-direction:column}
#icon-container{flex-basis:50%;display:flex;flex-wrap:wrap;justify-content:center;align-content:center;border-bottom: 4px dashed #2c8cff}
.icon{line-height:1;font-size:3rem;text-align:center} 
#bg-container{flex-basis:50%;display:flex;justify-content:center;align-content:center;align-items:center;height:100%}
#skill-bg{background-image:url(/img/skill/building-web.svg);background-size:contain;background-repeat:no-repeat;width:96%;height:55%} 
/*********CONTACT*260*******/ 
#contact{height:100vh;line-height:1;background-color:#2c8cff;}
#contact-title{padding:4rem 0 2rem;text-align:center;font-size:2rem;color:#fff}
#contact-title p{margin:0}
#contact-form{height:85%;width:90%;margin:0 auto}
label{display:none;color:#fff}
input{display:block;width:100%;margin-bottom:1rem;padding:1rem 0;border:none;font-size:1rem;line-height:1;text-indent:1rem}
textarea{width:100%;padding:1rem 0;text-indent:1rem;font:400 1rem Arial}
input:focus, textarea:focus {border-color:#000;}
#contact-btn{display:block;width:30%;padding:1rem 0;margin:1rem auto;border:none;text-decoration:none;font-size:1rem;color:#8c929b;background-color:#fff}
#contact-btn:hover{color:#333;background-color:#eeeeee}
/*********FOOTER*260*******/ 
#footer{height:100vh;display:flex;flex-direction:column;background-color:#333;}
#footer-box-icon{flex-basis:70%;display:flex;flex-direction:column;align-content:center;justify-content:space-around;align-items:center;background-color:#fff}
.footer-icon{width:50px;height:50px;line-height:1.3;font-size:2rem;text-align:center;border-radius:50%;border:4px solid #6baeff;color:#6baeff} 
.footer-icon:hover{border-color:#2c8cff;color:#2c8cff}
#footer-box-copyright{flex-basis:30%;display:flex;justify-content:center;align-content:center;align-items:center;height:100%;background-color:#2c8cff}
#footer-copyright{color:#fff}
}
@media(min-width:320px) { 
/* MESSAGE */
#message-form{padding:5rem;border-radius:.25rem} 
/*********PORTFOLIO*320*******/ 
#portfolio{line-height:1.1}
#portfolio-container{justify-content:space-evenly}
.portfolio-box{flex-basis:48%}
.portfolio-head{padding:0.3rem 0;font-size:1.1rem;border-bottom:1px solid rgba(0, 0, 0, 0.1)} /* border-bottom:1px solid rgba(0, 0, 0, 0.1) */
.portfolio-text{min-height:80px;padding:0 0.4rem;border-bottom:1px solid rgba(0, 0, 0, 0.1)}
.portfolio-btn{padding:0.4rem}
/*********CONTACT*320*******/ 
input{margin-bottom:1.5rem;padding:1.5rem 0;font-size:1.5rem;border-radius:.25rem}
textarea{border-radius:.25rem;font:400 1.5rem Arial}
#contact-btn{width:20%;margin:1.5rem auto;border-radius:.25rem;font-size:1.5rem} 
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
/********COVER*576**********/    
/********PORTFOLIO*576**********/   
#portfolio{line-height:1.2}
.portfolio-box{flex-basis:24%}
.portfolio-head{padding:0.5rem 0;font-size:1.2rem}
.portfolio-icon{padding:0.5rem;font-size:2.3rem}
.portfolio-text{min-height:150px;padding:0.5rem;font-size:1rem}
.portfolio-btn{font-size:1.2rem} 
/********SKILLS*320***************/  
#skill-bg{height:60%} 
.icon{font-size:4rem} 
/********SKILLS*576***************/  
#skill-bg{height:80%} 
/***********CONTACT*576***********/
#contact-form{width:50%}
/***********FOOTER*576***********/
}
/*768***MD****768***************************************************************************************************/
@media(min-width:768px){   
/********COVER*768px**********/
#cover-container{flex-direction:row;}
#cover-foto{width:300px}
#cover-box-info{justify-content: center}
#cover-text{font-size:2.5rem}
#cover-btn{font-size:2rem}
/********PORTFOLIO*768px**********/     
#portfolio{line-height:1.3}
.portfolio-icon{padding:0.7rem;font-size:3rem}
.portfolio-text{min-height:130px;padding:0.3rem;}
/********SKILLS*768px***************/      
#skill-container{flex-direction:row}
#icon-container{align-content:stretch;border-right:4px dashed#2c8cff;border-bottom:none}
#skill-bg{height:25%} 
.icon{font-size:5rem} 
/***********CONTACT************/
/***********FOOTER************/
#footer{height:50vh;}
#footer-box-icon{flex-direction:row}
}
/*992***LG****992***************************************************************************************************/
@media(min-width:992px){
/********COVER*992**********/    
/********PORTFOLIO*992**********/  
.portfolio-box{flex-basis:23%}    
.portfolio-icon{padding:0.8rem;font-size:3.5rem}
/********SKILLS*992***************/      
.icon{font-size:6rem} 
#skill-bg{height:40%} 
/***********CONTACT************/
/***********FOOTER************/
}
/*1200*****XL******1200*********************************************************************************************/
@media(min-width:1200px){    
/********COVER*1200**********/
/********PORTFOLIO*1200**********/ 
#portfolio{line-height:1.5}
#portfolio-container{justify-content:space-around}
.portfolio-box{flex-basis:23%}
.portfolio-head{padding:1rem;font-size:1.5rem}
.portfolio-icon{font-size:4rem}
.portfolio-text{min-height:90px;padding:0.1rem 0.8rem 0.5rem 0.8rem}
.portfolio-btn{padding:1rem;font-size:1.5rem}
/********SKILLS*1200***************/   
.icon{font-size:7rem;flex-basis:25%} 
#skill-bg{height:58%} 
/***********CONTACT*1200***********/ 
#contact-form{width:25%}
/***********FOOTER*1200***********/
.footer-icon{width:100px;height:100px;line-height:1.4;font-size:4rem}
}    




 
 


    