
/*0***0****0******************************************************************************************+++++++********0*/    
@media(min-width:0){
  .container-fluid{display:none;} 
  #box-sign{width:80%;margin:10px auto;text-align:center;}
  #sign{display:inline;writing-mode:vertical-rl;text-orientation:upright;}
}
       
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px){
/*********GENERAL*260*******/ 
*{padding:0;margin:0;}
#risoluzione{position:fixed;left:2px;bottom:2px;z-index:5000;padding:20px;font-weight:bold;background-color:yellow;}     
html{color:black;}  
body{background-color:#999;}  
#box-sign{display:none;} 
.container-fluid {display:block;padding:0;margin:0;}
.section{min-height:100vh;}
.section-title{text-align:center;margin-bottom:30px;}
.section-title p{color:white;font-size:30px;}
.row{margin:0;}
.btn{color: #fff;background-color:#333;border: none;} 
.btn:hover{color: #fff;background-color:red;} 



/*********NAVBAR*260*******/  
nav{padding:0;color:#fff;background-color:#333;}
.navbar{padding:0;}
.navbar-brand{margin-left:20px; height:100px;}
.navbar-toggler{margin-right: 20px;} 
#navbar-div{margin:0;padding:0;}      /*DIV*/         
.nav-item{text-align: center;} /*LI */
.nav-link{padding:20px 0;font-size:25px;border-top: 1px solid #999999;} 
.nav-link:hover{background-color: #666666;}  


/*********COVER*260*******/  
#cover{background-color:#fff;}   
#cover-animation{min-height:100vh;}
#cover-foto{border-radius:50%;width:200px;opacity: 0.5;}
#cover-text{font-size:30px;font-weight:bolder;color:#fff;} 
#cover-btn{border: 2px solid #fff;background-color: transparent;border-radius: 0;}

/*********PORTFOLIO*260*******/  
#portfolio{padding:60px 15px;background-color:#333;}
.card{height:350px;}
.card{border-radius:0;}
.card-header h4{font-size:1.2em;}
.card-footer{text-align:center;}
.card-fontawesome{font-size: 14vw;}

/*********SKILL*260*******/ 

/* #skill *{ border: 1px solid black; } */
#skill{padding:60px 15px;background-color:#fff;} 
#skill-title p{color: #333;}
#skill .row{margin-bottom:50px;}
.skill-img{min-height:70px;padding:4px;margin:0 30px;}

#skill-bg{
  background-image: url(../img/skill/building-web.svg); 
  background-size: contain;
  background-repeat: no-repeat; 
  min-height: 250px; 
}

/*********CONTACT*260*******/ 
#contact{padding:60px 15px;background-color:#333;}
.contact-message{color:white;text-align:center;}
.contact-form{margin:0 auto;padding:15px;} 
label{color:white;margin-top:30px;} 
#submit{margin-top:30px;border:1px solid #fff;} 

/*********FOOTER*260*******/ 
footer{padding:70px 0;background-color:#fff;} 
.fontawesome{font-size:3em;color:#333;text-align:center;padding:12px;}
#copyright{margin:10px;padding:10px;}
   
#btn-scroll{display:none;position:fixed;bottom:12px;right:24px;z-index:99;cursor:pointer;outline:none;border:none;opacity:0.5;font-size: 16vw;}
#btn-scroll:hover{opacity:1;}
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
#risoluzione{background-color:green;} 

/*********NAVBAR*576*******/  
.navbar-brand{margin-left:40px;}

/********COVER*576**********/    

/********PORTFOLIO*576**********/    
.card{height:400px;}

/********SKILLS*576***************/  
.skill-img{min-height:80px;margin: 10px 50px;}
#skill-bg{min-height: 350px;}

/***********CONTACT*576***********/
.contact-form{width:50%;}
/***********FOOTER*576***********/
#btn-scroll{font-size: 8vw;}
}
/*768***MD****768***************************************************************************************************/
@media(min-width:768px){
#risoluzione{background-color:blue;} 

/*********NAVBAR*768px*******/     
.navbar-brand{margin-left:50px;} 

/********COVER*768px**********/

/********PORTFOLIO*768px**********/     
.card-fontawesome{font-size: 6vw;}

/********SKILLS*768px***************/      
.skill-img{min-height:100px;margin: 10px 50px;}


#skill-bg{
 
  min-height: 450px; 
  
}
/***********CONTACT************/


/***********FOOTER************/
#btn-scroll{font-size: 6vw;}
}
/*992***LG****992***************************************************************************************************/
/********APPARE IL PULSANTE NEL NAVBAR****************************************************************************/
@media(min-width:992px){
#risoluzione{background-color:red;} 

/*********NAVBAR*992*******/  
 .nav-top {animation: top-size 1s forwards, top-alpha 1s forwards;}
.nav-bottom{animation: bottom-size 1s forwards, bottom-alpha 1s forwards;}  

@keyframes top-size {
  from {height: 60px;}
  to {height: 100px;}
}
@keyframes bottom-size {
  from {height: 100px;}
  to {height: 60px;}
}
@keyframes top-alpha {
  from {background-color: rgba(51, 51, 51, 1);}
  to {background-color: rgba(51, 51, 51, 0.2);}
}
@keyframes bottom-alpha  {
  from {background-color: rgba(51, 51, 51, 0.2);}
  to {background-color: rgba(51, 51, 51, 1);}
} 

nav{height: 100px;background-color:rgba(51, 51, 51, 0.2);} 
.navbar-brand{margin-left:100px;width:60%;height:100%;} 
#navbar-div{height:100%;margin-left:10px;} 

.navbar-nav{padding:0;} 
.nav-item{padding:0 30px;} 
.nav-link{padding:0;font-size:20px;border:none; text-align: left;} 
.nav-link:hover{background-color:transparent; border-bottom: 1px solid #fff;}  

/********COVER*992**********/    

/********PORTFOLIO*992**********/      
.card-header h4{font-size:1.4em;}

/********SKILLS*992***************/      
.skill-img{min-height:90px;margin: 10px 10px;}

#skill-bg{
  margin: auto;
   width:800px;
   height: 300px; 
   background-size: 800px 500px; 
   
 }


/***********CONTACT************/

/***********FOOTER************/
#btn-scroll{font-size: 4vw;}
}
/*1200*****XL******1200*********************************************************************************************/
@media(min-width:1200px){  
#risoluzione{background-color:violet;} 

/*********NAVBAR*1200*******/  

/********COVER*1200**********/
#cover-foto{width:300px;}

/********PORTFOLIO*1200**********/      
.card{height:300px;}
.card-fontawesome{font-size: 3vw;}

/********SKILLS*1200***************/   
.skill-img{min-height:100px;margin: 10px 30px;}

#skill-bg{
 margin: auto;
  width:800px;
  height: 300px; 
  background-size: 800px 500px; 
  
}

/***********CONTACT*1200***********/ 
.contact-form{width:25%;}
/***********FOOTER*1200***********/
#btn-scroll{font-size:2vw;}
}    



