@media(min-width:0){
}
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px) {
/*EDIT POST*/
#edit-post{margin:2rem 0 0 0;background-color:#fff} 
#edit-post h1{font-size:2rem}
#edit-btn{margin-top:1rem;border:1px solid#fff;color:#fff;background-color:#6baeff} 
#edit-btn:hover{background-color:green} 
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
}
/*768***MD****768***************************************************************************************************/
@media(min-width:768px){
}
/*992***LG****992***************************************************************************************************/
/********APPARE IL PULSANTE NEL NAVBAR******************************************************************************/
@media(min-width:992px){
}
/*1200*****XL******1200*********************************************************************************************/
@media(min-width:1200px){  
/*EDIT POST*/
#edit-post{margin:5rem 0 0 0} 
#edit-post h1{font-size:2.5rem}
}    
     


