@media(min-width:0){
}
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px) {
#empty{text-align:center;padding:5rem 0 0 0}
#empty-btn{margin-top:1rem;border:none;color:#fff;background-color:#2c8cff} 
#empty-btn:hover{background-color:#6baeff} 
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
}
/*768***MD****768***************************************************************************************************/
@media(min-width:768px){
}
/*992***LG****992***************************************************************************************************/
@media(min-width:992px){
/*********BLOG*992*******/ 
}
/*1200*****XL******1200*********************************************************************************************/
@media(min-width:1200px){  
}    
     


