@media(min-width:0){
}
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px) {
/* ALL POSTS*/
.container{min-height:100vh;}
main{background-color:#fff}
.posts{padding:3rem 1rem 0 1rem;margin:0;background-color:#fff}
.posts h1{font-size:2rem}
.comment-num{margin:0}
.posts hr{margin-bottom:0}

/*********FOOTER*260*******/ 
footer{margin-top:2rem}
.Pagination {position:relative;bottom:0;margin-left:50%;right:200px;width:400px;height:80px}
.page-item{display:none}
.page-basic{display:block}
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
/***********FOOTER*576***********/
.page-item{display:block}
}
/*768***MD****768***************************************************************************************************/
@media(min-width:768px){
}
/*992***LG****992***************************************************************************************************/
@media(min-width:992px){
/*********BLOG*992*******/ 
}
/*1200*****XL******1200*********************************************************************************************/
@media(min-width:1200px){  
/* ALL POSTS 1200*/
.posts{padding:4rem 4rem 0 4rem;margin:0}
.posts h1{font-size:2.5rem}
.comment-num{margin:0}
.posts hr{margin-bottom:0}
footer{margin-top:2rem}
}    
     


