@media(min-width:0){
}
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px) {
/* SINGLE POSTS*/

main{font-size:0.8rem;background-color:green}
#post{padding:2rem 0.2rem 3rem 0.2rem;background-color:#fff}
#post article{width:100%;margin:0 auto;text-align:center}
h1{font-size:2rem;color:#333}
time, .author{color:#8c929b}
.author a, .mailto a{text-decoration:none}
.container{min-height:100vh}
#post img{width:100%;margin-bottom:1rem} 
#post-text{text-align:left;}
#post-btn-edit{border:none;color:#fff;background-color:#2c8cff}
#post-btn-edit:hover{background-color:#6baeff}
#post-btn-delete{border:none;color:#fff;background-color:#2c8cff}
#post-btn-delete:hover{background-color:#6baeff}

#textarea-container{padding:1rem;text-align:center;background-color:#fff}
#textarea-container form{width:100%;margin:0 auto}
#textarea-container h2{font-size:1.6rem;color:#2c8cff}
#textarea-btn{margin-top:1rem;border:none;color:#fff;background-color:#2c8cff} 
#textarea-btn:hover{background-color:#6baeff} 

#comments-container{background-color:#fff}
.centertitle{text-align:center;padding:1rem}
.centertitle p{margin:0}
.comment-box{padding:0.3rem 1rem}
.comment-head{padding:1px;background-color:#fff}

.mailto a{font-size:1.2rem}
.comment-head img{width:46px;border-radius:50%}
.comment-btn-delete{float:right}
.comment-btn-delete{border:1px solid#fff;color:#fff;background-color:#6baeff}
.comment-btn-delete:hover{background-color:red}

.clear{clear:both}
.comment-body{padding:6px;background-color:#fff}
}
/*576***SM****576***************************************************************************************************576*/
@media(min-width:576px){
main{font-size:.9rem}
h1{font-size:2.2rem;}
#post article{width:80%}
#textarea-container h2{font-size:1.8rem}
}
/*768***MD****768***************************************************************************************************768*/
@media(min-width:768px){
main{font-size:1rem}
h1{font-size:2.5rem;}
#post article{width:70%}
#textarea-container h2{font-size:2rem}
    
}
/*992***LG****992**************************************************************************************************992*/
@media(min-width:992px){
#risoluzione{background-color:red;} 
}
/*1200*****XL******1200********************************************************************************************1200*/
@media(min-width:1200px){  
/* SINGLE POSTS 1200*/
#post{padding:3rem 4rem 3rem 4rem}
#post article{ width:60%;margin:0 auto;text-align:center}
#post img{width:100%} 
#post-text{text-align:left}

#textarea-container{padding:2rem;text-align:center}
#textarea-container form{width:60%;margin:0 auto}

#textarea-btn{margin-top:1rem;} 

.centertitle{text-align:center}
.comment-box{padding:0.3rem 7rem}
.comment-head{padding:4px}
.comment-head a{text-decoration:none}
.mailto a{font-size:1.2rem}
.comment-head img{border-radius:50%}
.comment-btn-delete{float:right}
.clear{clear:both}
.comment-body{padding:6px}
}    
     


