@media(min-width:0){
*{padding:0;margin:0}
.container{display:none} 
#box-sign{width:80%;margin:10px auto;text-align:center}
#sign{display:inline;writing-mode:vertical-rl;text-orientation:upright}
}
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px) {
#risoluzione{position:fixed;left:2px;bottom:2px;z-index:5000;padding:20px;font-weight:bold;background-color:yellow}     
html{color:#333}  
body{background-color:#202225;color:#333}  
#box-sign{display:none} 
.container{display:block;padding:0;min-height:100vh;background-color:#fff}

/*********NAVBAR*260*******/  
nav{padding:0;color:#fff;background-color:#2c8cff} 
.navbar{padding:0}
.navbar-brand{margin-left:7%;height:100px}
.navbar-brand img{margin-top:10px;height:60%}
.navbar-toggler{margin-right:20px} 
#navbar-div{margin:0;padding:0}           
.nav-item{text-align: center} 
.nav-link{padding:20px 0;font-size:25px;border-top:1px solid rgba(0, 0, 0, 0.1)} 
.nav-link:hover{background-color:#6baeff} 
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
#risoluzione{background-color:green;} 
/*********NAVBAR*576*******/  
}
/*768***MD****768***************************************************************************************************/
@media(min-width:768px){
#risoluzione{background-color:blue;} 
}
/*992***LG****992***************************************************************************************************/
/********APPARE IL PULSANTE NEL NAVBAR****************************************************************************/
@media(min-width:992px){
#risoluzione{background-color:red;} 
/*********NAVBAR*992*******/  
nav{height:100px}
.navbar-brand{margin-left:100px;width:60%;height:100%} 
#navbar-div{height:100%;margin-left:10px} 
.navbar-nav{padding:0} 
.nav-item{padding:0 30px} 
.nav-link{padding:0;font-size:20px;border:none;text-align:left} 
.nav-link:hover{background-color:transparent;box-shadow:0 5px 0#fff}  
.active{color:#fff} 
}
/*1200*****XL******1200*********************************************************************************************/
@media(min-width:1200px){  
#risoluzione{background-color:violet;} 
/*********NAVBAR*1200*******/  
}    
     


