/***AUTH CSS***/    
@media(min-width:0){
  *{padding:0;margin:0;}
  .container{display:none;} 
  #box-sign{width:80%;margin:10px auto;text-align:center;}
  #sign{display:inline;writing-mode:vertical-rl;text-orientation:upright;}
}
  
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px){
*{padding:0;margin:0;}
#risoluzione{position:fixed;left:2px;bottom:2px;z-index:5000;padding:20px;font-weight:bold;background-color:yellow;}     
html{color:black;}  
body{background-color:#666;}  
#box-sign{display:none;} 
.container{display:block;padding:0;min-height:100vh;background-color:#999;}
.btn{color: #fff;background-color:#333;border: none;} 
.btn:hover{color: #fff;background-color:red;} 

/*********NAVBAR********/  

nav{color:#fff;background-color:#333;}
.navbar{padding:0;}
.navbar-brand{padding:0; margin-left:20px; height:100px;}
.logo{line-height: 90px; font-weight: bolder;}
.navbar-toggler{margin-right: 20px;} 
#navbar-div{margin:0;padding:0;}      /*DIV*/         
.nav-item{text-align: center;} /*LI */
.nav-link{padding:20px 0;font-size:25px;border-top: 1px solid #999;} 
.nav-link:hover{background-color: #666;}  

/*********FORM********/  
#auth{
  background-color:red;
  border: 1px solid #ccc;
  padding:10px;
  margin:0 auto;
  margin-top: 50px;
  width:100%;
  text-align:center;
}


.input-group-addon{background-color:#ccc;padding:8px;}


/*********FOOTER********/ 
footer{padding:70px 0;background-color:#fff;} 
#copyright{margin:10px;padding:10px;}
   
#btn-scroll{display:none;position:fixed;bottom:12px;right:24px;z-index:99;cursor:pointer;outline:none;border:none;opacity:0.5;font-size: 16vw;}
#btn-scroll:hover{opacity:1;}
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
#risoluzione{background-color:green;} 

/*********NAVBAR********/  
.navbar-brand{margin-left:45px;}

/*********FORM********/  

#auth{width:80%;padding:20px;}

/***********FOOTER************/
#btn-scroll{font-size: 8vw;}
}
/*768***MD****768***************************************************************************************************/
@media(min-width:768px){
#risoluzione{background-color:blue;} 

/*********FORM********/  

#auth{width:60%;padding:20px;margin-top: 150px;}

/***********FOOTER************/
#btn-scroll{font-size: 6vw;}
}
/*992***LG****992***************************************************************************************************/
/********APPARE IL PULSANTE NEL NAVBAR****************************************************************************/
@media(min-width:992px){
#risoluzione{background-color:red;} 

/*********NAVBAR********/  

nav{height: 100px;}
.navbar-brand{margin-left:100px;width:60%;height:100%;} 
#navbar-div{height:100%;margin-left:10px;} 
.navbar-nav{padding:0;} 
.nav-item{padding:0 30px;} 
.nav-link{padding:0;font-size:20px;border:none; text-align: left;} 
.nav-link:hover{background-color:transparent;border-bottom: 1px solid #fff;}  
.active{ color: #fff;} 
/* .deactive{background-color:transparent;}  */

/*********FORM********/  

#auth{padding:20px;width:40%;}


/***********FOOTER************/
#btn-scroll{font-size: 4vw;}
}
/*1200*****XL******1200*********************************************************************************************/
@media(min-width:1200px){  
#risoluzione{background-color:violet;} 

/*********NAVBAR********/  


/*********FORM********/  

#auth{padding:30px;width:35%;}

/***********FOOTER************/
#btn-scroll{font-size: 2vw;}
}    
     

















