/* route = [posts] */
/* tpl   = [post.all] */
@media(min-width:0){}
@media(min-width:230px){
/* ALL POSTS*/
main{min-height:100%;font-size:0.7rem;background-color:#fff}
#blog{padding:0 0.5rem}  
.posts{padding-top:0.5rem} 
h1{font-size:1rem}
.title, .author, .mailto, .read{text-decoration:none;color:#3399ff}
.messtruncate{display:none}
.comment-num{margin:0}
.posts hr{margin-bottom:0}
/* FOOTER */ 
footer{padding:.5rem}
#pagination{list-style-type:none;margin:0;padding:0;}
.page-item{display:inline-block;width:2rem;height:2rem;text-align:center;border:1px solid#66ccff}
/*
.attivo{background-color: rgb(179, 179, 248);}  
.disabled{background-color: rgb(235, 137, 137);}
.current{color:#333;background-color: rgb(41, 168, 41);}
.attivo{color:#3399ff;background-color: rgb(160, 160, 240);} 
.number{color:#3399ff;background-color: pink;}
.dot{color:#3399ff;background-color: rgb(177, 173, 173);}*/
.page-link {text-decoration:none;font-size:1rem;line-height:1.8;color:#666}
/* .page-item > .page-link {text-decoration:none;font-size:1rem;line-height:1.8;color:#666} */
/* .page-link{text-decoration:none;color:#666}  */
.attivo > .page-link, .number > .page-link, .dot > .page-link{color:#3399ff} 
}
@media(min-width:320px){
/* ALL POSTS */
main{font-size:0.8rem}
#blog{padding:0 1rem} 
.posts{padding-top:0.7rem} 
h1{font-size:1.1rem}
.messtruncate{display:block}
/* FOOTER */ 
footer{padding-top:0.8rem}
/* .page-item{height:3.8rem;padding:0 2rem;font-size:2rem;line-height:1.8} */
}
@media(min-width:375px){
/* ALL POSTS */
main{font-size:1rem}
.posts{padding-top:1rem} 
h1{font-size:1.4rem}
/* FOOTER */
footer{padding-top:2rem}
.page-item{width:3.5rem;height:3.5rem}
.page-link {font-size:2rem;line-height:1.6}


}
