@media(min-width:0){
}
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px) {
main{background-color:green}
#create-post{margin:2rem 0 0 0;background-color:#fff} 
h1{font-size:2rem}
.input-group-addon{width:40px;height:45px;padding:8px;color:#fff;background-color:#202225}
button{margin-top:1rem;border:1px solid#fff;color:#fff;background-color:#2c8cff } 
button:hover{background-color:#6baeff} 
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
}
/*768***MD****768***************************************************************************************************/
@media(min-width:768px){
}
/*992***LG****992***************************************************************************************************/
/********APPARE IL PULSANTE NEL NAVBAR****************************************************************************/
@media(min-width:992px){
}
/*1200*****XL******1200*********************************************************************************************/
@media(min-width:1200px){  
#create-post{margin:5rem 0 0 0} 
h1{font-size:2.5rem}
.input-group-addon{width:40px;height:45px;padding:8px;color:#fff;background-color:#202225}
}    
     


