@media screen and (orientation: portrait)  {   
@media(min-width:0) {
}
/*260***XS****260**************************************************************************************************260*/
@media(min-width:230px){
/* ALL POSTS*/
main{font-size:0.8rem;background-color:yellow}
#blog{padding:74px 0 0;background-color:#fff} 
.posts{padding:1rem 1rem 0 1rem;margin:0}
.posts h1{font-size:1.2rem;}
.comment-num{margin:0}
.posts hr{margin-bottom:0}

/*********FOOTER********/ 
footer{padding:2rem 0 6rem;background-color:#fff} 
footer li:nth-of-type(1){border:none}
.page-item{padding: 0;border:none;}
.pagination-lg .page-link {padding: 1rem 1.2rem;}
#copyright{margin:10px;padding:10px;}
#btn-scroll{display:none;position:fixed;bottom:12px;right:24px;z-index:99;cursor:pointer;outline:none;border:none;opacity:0.5;font-size: 16vw;}
#btn-scroll:hover{opacity:1;}
}
@media(min-width:320px){
}
}
@media screen and (orientation: landscape) {
@media(min-width:260px){
}
}
