@media(min-width:0){
}
@media screen and (orientation: portrait) {  
/*260***XS****260**************************************************************************************************260*/
@media(min-width:230px) {
.container{height:100vh;background-color:#fff}
#edit-post{padding:1rem 0.2rem 2rem 0.2rem;font-size:0.9rem;text-align:center;background-color:#fff} 
h1{font-size:1.2rem}
.form-control {padding:.25rem .75rem;font-size: 0.8rem;line-height: 1.2;}
button{margin-top:1rem;border:1px solid#fff;color:#fff;background-color:#2c8cff} 
button:hover{background-color:#6baeff} 

/* 
.container{height:100vh;background-color:#fff}
.row{margin:0;padding:0;}
#edit-post{padding:1rem 0.2rem 2rem 0.2rem;font-size:0.9rem;background-color:#fff} 
h1{font-size:1.2rem}
.form-control {padding:.25rem .75rem;font-size: 0.8rem;line-height: 1.2;}
button{margin-top:1rem;border:1px solid#fff;color:#fff;background-color:#2c8cff} 
button:hover{background-color:#6baeff}  */


}
@media(min-width:320px){
}
/*576***SM****576***************************************************************************************************/
@media(min-width:576px){
}
}     
@media screen and (orientation: landscape) {
@media(min-width:260px){
}
}
  
