

@media screen and (orientation: portrait) {
    /***AUTH CSS***/    
@media(min-width:0){
    *{padding:0;margin:0;}
    .container{display:none;} 
    #box-sign{width:80%;margin:10px auto;text-align:center;}
    #sign{display:inline;writing-mode:vertical-rl;text-orientation:upright;}
  }
    
  /*260***XS****260**************************************************************************************************260*/
  @media(min-width:260px){
  *{padding:0;margin:0;}
  #risoluzione{position:fixed;left:2px;bottom:2px;z-index:5000;padding:20px;font-weight:bold;background-color:yellow;}     
  html{color:black;}  
  body{background-color:#666;}  
  #box-sign{display:none;} 
  .container{display:block;padding:0;min-height:100vh;background-color:#999;}
  .btn{color: #fff;background-color:#333;border: none;} 
  .btn:hover{color: #fff;background-color:red;} 
  
  /*********NAVBAR********/  
  
  nav{color:#fff;background-color:#333;}
  .navbar{padding:0;}
  .navbar-brand{padding:0; margin-left:20px; height:100px;}
  .logo{line-height: 90px; font-weight: bolder;}
  .navbar-toggler{margin-right: 20px;} 
  #navbar-div{margin:0;padding:0;}      /*DIV*/         
  .nav-item{text-align: center;} /*LI */
  .nav-link{padding:20px 0;font-size:25px;border-top: 1px solid #999;} 
  .nav-link:hover{background-color: #666;}  
  
  /*********FORM********/  
  #auth{
    background-color:#fff;
    border: 1px solid #ccc;
    padding:10px;
    margin:0 auto;
    margin-top: 50px;
    width:100%;
    text-align:center;
  }
  
  
  .input-group-addon{background-color:#ccc;padding:8px;}
  
  
  /*********FOOTER********/ 
  footer{padding:70px 0;background-color:#fff;} 
  #copyright{margin:10px;padding:10px;}
     
  #btn-scroll{display:none;position:fixed;bottom:12px;right:24px;z-index:99;cursor:pointer;outline:none;border:none;opacity:0.5;font-size: 16vw;}
  #btn-scroll:hover{opacity:1;}
  }
    }
    @media screen and (orientation: landscape) {
   /***AUTH CSS***/    
@media(min-width:0){
    *{padding:0;margin:0;}
    .container{display:none;} 
    #box-sign{width:80%;margin:10px auto;text-align:center;}
    #sign{display:inline;writing-mode:vertical-rl;text-orientation:upright;}
  }
    
  /*260***XS****260**************************************************************************************************260*/
  @media(min-width:260px){
  *{padding:0;margin:0;}
  #risoluzione{position:fixed;left:2px;bottom:2px;z-index:5000;padding:20px;font-weight:bold;background-color:yellow;}     
  html{color:black;}  
  body{background-color:#666;}  
  #box-sign{display:none;} 
  .container{display:block;padding:0;min-height:100vh;background-color:#999;}
  .btn{color: #fff;background-color:#333;border: none;} 
  .btn:hover{color: #fff;background-color:red;} 
  
  /*********NAVBAR********/  
  
  nav{color:#fff;background-color:#333;}
  .navbar{padding:0;}
  .navbar-brand{padding:0; margin-left:20px; height:100px;}
  .logo{line-height: 90px; font-weight: bolder;}
  .navbar-toggler{margin-right: 20px;} 
  #navbar-div{margin:0;padding:0;}      /*DIV*/         
  .nav-item{text-align: center;} /*LI */
  .nav-link{padding:20px 0;font-size:25px;border-top: 1px solid #999;} 
  .nav-link:hover{background-color: #666;}  
  
  /*********FORM********/  
  #auth{
    background-color:#fff;
    border: 1px solid #ccc;
    padding:10px;
    margin:0 auto;
    margin-top: 50px;
    width:100%;
    text-align:center;
  }
  
  
  .input-group-addon{background-color:#ccc;padding:8px;}
  
  
  /*********FOOTER********/ 
  footer{padding:70px 0;background-color:#fff;} 
  #copyright{margin:10px;padding:10px;}
     
  #btn-scroll{display:none;position:fixed;bottom:12px;right:24px;z-index:99;cursor:pointer;outline:none;border:none;opacity:0.5;font-size: 16vw;}
  #btn-scroll:hover{opacity:1;}
  }
    }
    