

@media screen and (orientation: portrait) {
    /*0***0****0******************************************************************************************+++++++********0*/    
@media(min-width:0){
.container-fluid{display:none;} 
#box-sign{width:80%;margin:10px auto;text-align:center;}
#sign{display:inline;writing-mode:vertical-rl;text-orientation:upright;}
}
         
/*260***XS****260**************************************************************************************************260*/
@media(min-width:260px){
/*********GENERAL********/ 
*{padding:0;margin:0;}
#risoluzione{display:none;position:fixed;left:2px;bottom:2px;z-index:5000;padding:20px;font-weight:bold;background-color:yellow;}     
html{color:black;}  
body{background-color:#999;}  
#box-sign{display:none;} 
.container-fluid {display:block;padding:0;margin:0;}
.section{min-height:100vh;padding:70px 15px 10px 15px }
.section-title{text-align:center;margin-bottom:12px;}
.section-title p{color:white;font-size:26px;
    /* position:relative;z-index:2000; */
}
.row{margin:0;}
.btn{color:#fff;background-color:#333;border:none;} 
.btn:hover{color:#fff;background-color:red;} 
    
/*********NAVBAR********/  

.navbar{padding:0;color:#fff;background-color:rgb(108, 50, 241);opacity: 0.5;}
.navbar-brand{margin-left:20px;}
.navbar-toggler{margin-right: 20px;} 
#navbar-div{margin:0;padding:0;}             
.nav-item{text-align: center;} 
.nav-link{padding:20px 0;font-size:25px;border-top: 1px solid #999999;} 
.nav-link:hover{background-color: #666666;}   




/*********COVER********/  
#cover{background-color:#666;}   
 /* #cover *{border:1px solid black;}   */
#cover-animation{min-height:100vh;}
#cover-foto{margin-top:70px;border-radius:50%;width:130px;opacity:0.5;}
#cover-text{font-size:30px;font-weight:bolder;color:#fff;padding:0;margin-bottom:20px;} 
#cover-btn{border: 2px solid #fff;background-color: transparent;border-radius: 0;}
    /* .col-md-6{background-color: green;padding:0;margin:0;  } */
/*********PORTFOLIO********/  
#portfolio{background-color:#333;}
.card{height:350px;}
.card{border-radius:0;}
.card-header h4{font-size:1.2em;}
.card-footer{text-align:center;}
.card-fontawesome{font-size: 14vw;}

/*********SKILL********/ 
#skill{background-color:#fff;} 
#skill-title p{color:#333;}
#skill .row{width:90%;margin:auto;}
.skill-img{height:70px;}
#skill-bg{text-align:center;margin-top:40px;}
#skill-bg img{width:200px;}

/*********CONTACT********/ 
#contact{background-color:#333;}
.contact-message{color:white;text-align:center;}
.contact-form{margin:0 auto;padding:5px 12px;} 
label{display:none;}
input{margin-bottom:16px;padding:0;} 
#submit{margin-top:16px;border:1px solid #fff;} 

/*********FOOTER********/ 
footer{
    /* padding:70px 0; */
    background-color:#fff;} 
#footerlink{margin-top:120px;}

.fontawesome{

    font-size:3em;
    color:#333;
    text-align:center;
    padding:12px;

}


#copyright{margin:10px;padding:10px;}
    
#btn-scroll{display:none;position:fixed;bottom:12px;right:24px;z-index:99;cursor:pointer;outline:none;border:none;opacity:0.5;font-size: 16vw;}
#btn-scroll:hover{opacity:1;}
}
@media(min-width:576px){
    .container-fluid {display:none;}
}
}
    @media screen and (orientation: landscape) {
    /*0***0****0******************************************************************************************+++++++********0*/    
@media(min-width:0){
    .container-fluid{display:none;} 
    #box-sign{width:80%;margin:10px auto;text-align:center;}
    #sign{display:inline;writing-mode:vertical-rl;text-orientation:upright;}
  }
         
  /*260***XS****260**************************************************************************************************260*/
  @media(min-width:260px){
  *{padding:0;margin:0;}
  #risoluzione{position:fixed;left:2px;bottom:2px;z-index:5000;padding:20px;font-weight:bold;background-color:yellow;}     
  html{color:black;}  
  body{background-color:#999;}  
  #box-sign{display:none;} 
  /* .container{display:block;} */
  .container-fluid {display:block;padding:0;margin:0;}
  .btn{color: #fff;background-color:#333;border: none;} 
  .btn:hover{color: #fff;background-color:red;} 
  
  /*********NAVBAR********/  
  
   nav{padding:0;color:#fff;background-color:#333;}
   .navbar{padding:0;}
  .navbar-brand{margin-left:20px; height:100px;}
  .navbar-toggler{margin-right: 20px;} 
  #navbar-div{margin:0;padding:0;}      /*DIV*/         
  .nav-item{text-align: center;} /*LI */
  .nav-link{padding:20px 0;font-size:25px;border-top: 1px solid #999999;} 
  .nav-link:hover{background-color: #666666;}  
  
  /*********BLOG********/ 
  article{padding: 20px; background-color:#fff;}
  .comment-form{width:30%;}
  .auth-form{padding:20px;margin: 50px auto;width:30%;background-color:#fff;}
  /*********SEZIONI********/  
  .section{min-height:100vh;}
  .section-title{z-index: -1000; color:white;font-size:30px;text-align:center;margin-bottom:30px;}
  
  /*********COVER********/  
  #cover{background-color:#fff;}   
  #cover-animation{min-height:100vh;}
  #cover-foto{border-radius:50%;width:200px;opacity: 0.5;}
  #cover-text{font-size:30px;font-weight:bolder;color:#fff;} 
  #cover-btn{border: 2px solid #fff;background-color: transparent;border-radius: 0;}
  
  /*********PORTFOLIO********/  
  #portfolio{padding:60px 15px;background-color:#333;}
  .card{height:350px;}
  .card{border-radius:0;}
  .card-header h4{font-size:1.2em;}
  .card-footer{text-align:center;}
  .card-fontawesome{font-size: 14vw;}
  
  /*********SKILL********/ 
  #skill{padding:60px 15px;background-color:#fff;} 
  #skill-title{color: #333;}
  #skill .row{width:90%;margin:auto;}
  .skill-img{height:80px;}
  #skill-bg{text-align:center;margin-top:40px;}
  #skill-bg img{width:200px;}
  
  /*********CONTACT********/ 
  #contact{padding:60px 15px;background-color:#333;}
  .contact-message{color:white;text-align:center;}
  .contact-form{margin:0 auto;padding:15px;} 
  label{color:white;margin-top:30px;} 
  #submit{margin-top:30px;} 
  
  /*********FOOTER********/ 
  footer{padding:70px 0;background-color:#fff;} 
  #copyright{margin:10px;padding:10px;}
     
  #btn-scroll{display:none;position:fixed;bottom:12px;right:24px;z-index:99;cursor:pointer;outline:none;border:none;opacity:0.5;font-size: 16vw;}
  #btn-scroll:hover{opacity:1;}
  }
}
    