/* route = [/blog/] */
/* tpl   = [blog.posts, blog.aside, blog.pagination, blog.footer] */
@media(min-width:0){}
@media(min-width:230px){
/* BLOG */
main{min-height:100%;display:flex;flex-direction:column;font-size:0.7rem;background-color:#fff}
#posts{order:1} 
aside{order:3;display:flex;flex-direction:row;justify-content:space-around;flex-wrap: wrap}
.pagination{order:2}
footer{order:4;flex-basis:100%} 
/* POSTS */
#posts{padding:0 .5rem} 
.post{padding-top:0.5rem} 
h1{font-size:1rem}
.title, .author, .mailto, .read{text-decoration:none;color:#3399ff}
.messtruncate{display:none}
.comment-num{margin:0}
 hr{margin-top:.5rem;opacity:.5}
/* ASIDE */
.aside-box{width:200px;padding-bottom:4rem;} /* flex-basis:30%; */
.aside-title{background-color:#ccffff}
.aside-year{margin-top:1rem;}
.aside-list{padding-left:1rem;list-style-type:none;}
.aside-link{color:#3399ff;text-decoration:none;line-height:1.5}  
/* PAGINATION */ 
.pagination{padding:.8rem}
.pagination-list{list-style-type:none;margin:0;padding:0;}
.page__item{display:inline-block;width:3.5rem;height:3.5rem;text-align:center;border:1px solid#3399ff}
.page__link {text-decoration:none;font-size:2rem;line-height:1.6;}
.page__link.-current{font-size:2.5rem;line-height:1.15}
.page__link.-active{color:#3399ff} 
.page__link.-disabled{color:#666} 
.page__item.-number{display:none}
.page__item.-dots{display:none}
.page__item.-first{display:none}
.page__item.-last{display:none}
/* FOOTER */ 
footer{padding:2rem;text-align:center;color:#fff;background-color:#0066ff}
}
@media(min-width:320px){
/* BLOG */
main{font-size:0.8rem}
/* POSTS */
.post{padding-top:0.7rem} 
h1{font-size:1.1rem}
.messtruncate{display:block}
/* PAGINATION */ 
/* FOOTER */ 
}
@media(min-width:576px){
/* BLOG */
main{font-size:1rem}
/* POSTS */
.post{padding-top:1rem} 
h1{font-size:1.4rem}
/* PAGINATION */ 
.pagination{padding:2rem}
.page__item.-number{display:inline-block}
/* FOOTER */
}
@media(min-width:768px){
 /* PAGINATION */   
 .page__item.-dots{display:inline-block}
}
@media(min-width:992px){
/* PAGINATION */   
.page__item.-last{display:inline-block}
}
@media(min-width:1200px){
/* BLOG */
main{flex-direction:row;flex-wrap:wrap;padding-top:2rem;font-weight:400;font-style:normal;font-size:1.3rem;line-height:1.58;letter-spacing:-.003em}
/* main{padding:0 .5rem;}   */
#posts{order:1;flex-basis:60%} 
aside{order:2;flex-basis:20%;flex-direction:column}
#pagination{order:3;flex-basis:100%}
/* POSTS */
h1{font-size:2.5rem}
#posts{padding:0 1.5rem;}
/* ASIDE */
aside{padding:2rem;}
/* PAGINATION */   
.page__item.-first{display:inline-block}
}
